html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #dfe7ef;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  align-items: center;
  background: linear-gradient(to bottom, #4f6ab8 0%, #517ccc 100%);
  display: flex;
  height: 45px;
  /* adjust nav top to match height */
  justify-content: center;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header * {
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
}

#headerLink {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  position: absolute;
  right: 5px;
  text-align: right;
  top: 0;
  width: 20%;
}

#headerLink a {
  color: #003c78;
  font: 13px Palanquin-Regular;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration-line: none;
}

.nav {
  background: linear-gradient(to bottom, #517ccc 0%, #cad3ee 100%);
  border-bottom-right-radius: 11px;
  /*bottom: 50px;*/
  font: 19px "Segoe UI", "Arial Narrow", sans-serif;
  left: 0;
  padding: 0;
  position: fixed;
  top: 45px;
  width: 130px;
  z-index: 1;
}

.navItem {
  border-top: 1px solid #000000;
  height: 60px;
  line-height: 60px;
  margin-bottom: 8px;
  text-align: center;
}

.navLink {
  color: #003c78;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

.navLink:hover {
  color: #0062e7;
}

main {
  /*background-color: #d2dae2;*/
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: block;
  font: 18px "Segoe UI", Arial, sans-serif;
  margin: 45px 0 29px 130px;
  max-width: 900px;
  min-width: 240px;
  padding: 20px 25px 20px 20px;
}

hr {
  margin-bottom: 18px;
  margin-top: 18px;
}

fieldset {
  border: 2px outset #828282;
  border-radius: 8px;
  background-color: #d9e1e9;
  width: max-content;
  padding: 0 10px 0 10px;
  margin-top: 5px;
}

legend {
  width: max-content;
  margin-right: 4px;
}

.timeStamps * {
  display: inline;
}

.editModal {
  width: 45%;
}

.devFooter {
  align-items: center;
  background: linear-gradient(to right, #081a75, #517ccc, #a1d3ff, #517ccc, #081a75);
  bottom: 0;
  /* adjust nav bottom and main margin to match height */
  display: flex;
  height: 30px;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 100%;
}
