html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #dfe7ef;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav {
  background-color: #8abbe7;
  box-shadow: 0 1px 8px 4px #526179;
  flex-wrap: nowrap;
  height: 60px;
  padding-bottom: 0;
  padding-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  .navBrand {
    //background-color: #517ccc;
    color: #000000;
    font: 28px Cambria, sans-serif;
    text-shadow: 2px 2px 3px #363636;
  }

  .navItem {
    //background-color: #518ada;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 140px;
  }

  .navLink {
    //background-color: #5178c8;
    color: #13118f;
    font: 17px "Segoe UI Semibold", sans-serif;
    margin: 0;
    padding: 6px;
    text-align: center;

    &:hover {
      color: #2362be;
    }
  }
}

main {
  background-color: #d2dae2;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: block;
  font: 18px "Segoe UI", Arial, sans-serif;
  margin: 60px auto 29px ;
  max-width: 1020px;
  min-width: 240px;
  padding: 35px 55px 35px 55px;
}

hr {
  margin-bottom: 18px;
  margin-top: 18px;
}

fieldset {
  background-color: #dae2ea;
  border: 2px outset #828282;
  border-radius: 8px;
  margin-top: 5px;
  padding: 0 10px 0 10px;
  width: max-content;
}

legend {
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: Georgia, sans-serif;
}

.listGroup {
  border-radius: .3rem;
  box-shadow: 3px 3px 7px 2px #526179;
}

.listItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.loginForm {
  width: 50%;
}

.timeStamps * {
  display: inline;
}

.editModal {
  width: 45%;
}

.devFooter {
  align-items: center;
  background: linear-gradient(to right, #517ccc, #a1d3ff, #517ccc);
  bottom: 0;
  display: flex;
  height: 30px;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 5;
}
